/*Нужно для того чтобы плашка была рядом с календарём на любом экране*/
.surround-calendar{	
	margin: auto;
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	width: 97vw;
	height: 650px;
}

.calendar-box
{
	display: block;
	margin: auto;
	font-size: 15pt;
}

#info, #close{
	width: 20px;
	height: 20px;
	border:1px solid black;
	border-radius: 100%;
}

.GO_local img, .GO_global img, .GO_list img{
	margin-right: 10px;
	margin-left: -10px;
	margin-bottom: -6px;
}

/*Список задач*/
.surround-task{
	display: flex;
	justify-content: space-around;
	width: 97vw;
	height: 650px;
}

.My-tasks
{
	overflow-y: auto;
	color: #72512C;
	border:2px solid #FDCF78;
	border-radius: 7px;
	width: 40vw;
	height: 650px;
	margin-left: 20vw;
	margin-right: 10px;
	background-color: white;
}

#LilCrutch{
	background-color: #F5DA81;
	display: flex;
	border-bottom:2px solid #FDCF78;
	justify-content: space-around;
	height: 60px;
}

#TaskSearchInput{
	border:1px solid #FDCF78;
	width: 28vw;
	height: 30px;
	margin-top: 13px;
	margin-right: 10px;
}

#TaskSearchButton{
	width: 7vw;
	height: 3.5vh;
}

.right-task-section{	
	color: #72512C;
	background-color: #ffffffff;
	border:2px solid #FDCF78;
	border-radius: 7px;
	width: 14.5vw;
	height: 545px;
	margin-right: 10px;
	margin-top: auto;
	margin-bottom: auto;
}

#GO_AWAY_from_task{
	display: block;
	margin-bottom: auto;
	margin-top: -30px;
	margin-right: 15vw;
}

.marks-elem img{
	width: 30px;
	height: 30px;
	margin-left: 8px;
}

.task-list-elem{
	background: rgba(214, 170, 129, 0.4);
	border:2px solid #FDCF78;
	border-radius: 7px;
	width: 37vw;
	margin: auto;
	height: auto;
	margin-top: 2vh;
	padding-left: 1vw;
}

.move_task_lil_up{
	display: inline-block;
	margin-bottom: 1vh;
	font-size: 18px;
}
.project-place-task-list{
	overflow-y: auto;
	position: relative;
	margin: 5px;
	width: auto;
	height: 290px;
	color: #72512C;
	background-color: #FDCF78;
	border:2px solid #FDCF78;
}

/*Конец списка задач*/

/*Плашка слева*/
.left-section{	
	color: #72512C;
	/*background-color: #ffffffff;*/
	border:2px solid #FDCF78;
	border-radius: 7px;
	width: 10vw;
	height: 320px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 160px;
}

#DO_IT{
	display: block;
	margin: auto;
}

.left-section .line{
	border-top:2px solid #FDCF78;
}

.left-section .filter-search input{
	width: 90%;
	margin: 0 auto;
	margin-left: 5px;
	margin-right: 5px;
}
/*Конец плашки слева*/

/*Плашка справа*/
 .right-section{	
	color: #72512C;
	background-color: #ffffffff;
	border:2px solid #FDCF78;
	border-radius: 7px;
	width: 14.5vw;
	margin-left: 10px;
	margin-right: 10px;

}

#GO_AWAY{
	display: block;
	margin-bottom: auto;
	margin-top: -40px;
}

.left-section p{
	margin: 10px;
}

.right-section p, .right-task-section p{
	margin: 3px;
	margin-left: 10px;
}

#apply_right, #add_task, #drop_down, #add_button, #add_project, #back_button{
	width: 13vw;
	display: block;
	margin: auto;
	margin-top: 3px;
}

/*Описание вкладок на плашке*/
.filter-place, .task-place, .project-place, .сolleagues-place, .group-place, .marks-place{
	overflow-y: auto;
	position: relative;
	margin: 5px;
	width: auto;
	height: 185px;
	color: #72512C;
	background-color: #FDCF78;
	border:2px solid #FDCF78;
}

.сolleagues-place{
	height: 100px;
}
/*Конец описания вкладок на плашке*/

/*Описание элементов*/
 .task-elem, .project-elem, .сolleagues-elem, .marks-elem{
	width: auto;
	height: auto;
	border-bottom:2px solid #FDCF78;
}

/*Перемена цвета при наведении на элемент МОЖЕШЬ МЕНЯТЬ*/
.project-elem:hover, .сolleagues-elem:hover{
	background: rgba(224, 180, 113, 0.473);
}

.project-elem img, .сolleagues-elem img{
	width: 25px;
	height: 25px;
	margin-left: 8px;
}
.project-elem p, .сolleagues-elem p, .marks-elem p{
	display: inline;
	color: #72512C;
	margin: 15px;
}
/*Конец описания элементов*/

/*Конец плашки справа*/
