/*Нужно для того чтобы плашка была рядом с календарём на любом экране*/
.surround-calendar{
	width: 1050px;
	height: 650px;
	margin: 0 auto;
}

/*Плашка справа*/
 .right-section{	
	position: relative;
	right: -1060px;
	bottom: 650px;
	color: black;
	background-color: #ffffffff;
	border:2px outset #d01414;
	width: 14.5vw;
	height: 650px;
}

.right-section p{
	margin: 10px;
}

/*Описание вкладок на плашке*/
.task-place, .project-place, .сolleagues-place{
	overflow-y: auto;
	position: relative;
	margin: 5px;
	width: auto;
	height: 185px;
	color: black;
	background-color: #ff0000 ;
	border:2px outset #d01414;
}

.сolleagues-place{
	height: 100px;
}
/*Конец описания вкладок на плашке*/

/*Описание кнопки*/
.add-button{
	width: auto;
	height: auto;
	margin: 0 auto;
	padding-left: 10px;
	color: black;
	margin: 0 auto;
}
/*Конец описания кнопки*/

/*Описание элементов*/
.task-elem, .project-elem, .сolleagues-elem{
	width: auto;
	height: auto;
	border-bottom:2px solid #ad5c17;
}

/*Перемена цвета при наведении на элемент МОЖЕШЬ МЕНЯТЬ*/
.project-elem:hover, .сolleagues-elem:hover{
	background: blue;
}

.project-elem img, .сolleagues-elem img{
	width: 25px;
	height: 25px;
	margin-left: 8px;
}
.project-elem p, .сolleagues-elem p{
	display: inline;
	color: black;
	margin: 15px;
}
/*Конец описания элементов*/

/*Конец плашки*/
