/*Нужно для того чтобы плашка была рядом с календарём на любом экране*/
.surround-calendar{
	display: flex;
	justify-content: space-between;
	width: 1050px;
	height: 650px;
}

.calendar-box
{
	margin: 5px;
}

/*Плашка слева*/
.left-section{	
	color: #72512C;
	/*background-color: #ffffffff;*/
	border:2px outset #FDCF78;
	border-radius: 7px;
	width: 14.5vw;
	height: 280px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 160px;
}

.left-section .line{
	border-top:2px outset #FDCF78;
}

.left-section .filter-search input{
	width: 90%;
	margin: 0 auto;
	margin-left: 5px;
	margin-right: 5px;
}
/*Конец плашки слева*/

/*Плашка справа*/
 .right-section{	
	color: #72512C;
	background-color: #ffffffff;
	border:2px outset #FDCF78;
	border-radius: 7px;
	width: 14.5vw;
	height: 650px;
	margin-left: 10px;
	margin-right: 10px;

}

.right-section p, .left-section p{
	margin: 10px;
}

/*Описание вкладок на плашке*/
.filter-place, .task-place, .project-place, .сolleagues-place{
	overflow-y: auto;
	position: relative;
	margin: 5px;
	width: auto;
	height: 185px;
	color: #72512C;
	background-color: #FDCF78;
	border:2px outset #FDCF78;
}

.сolleagues-place{
	height: 100px;
}
/*Конец описания вкладок на плашке*/

/*Описание кнопки*/
.right-section .add-button{
	width: auto;
	height: auto;
	color: #72512C;
	margin-left: 5px;
	margin-right: 5px;
	border-radius: 4px;
}
/*Конец описания кнопки*/

/*Описание элементов*/
 .task-elem, .project-elem, .сolleagues-elem{
	width: auto;
	height: auto;
	border-bottom:2px solid #FDCF78;
}

/*Перемена цвета при наведении на элемент МОЖЕШЬ МЕНЯТЬ*/
.project-elem:hover, .сolleagues-elem:hover{
	background: rgba(224, 180, 113, 0.473);
}

.project-elem img, .сolleagues-elem img{
	width: 25px;
	height: 25px;
	margin-left: 8px;
}
.project-elem p, .сolleagues-elem p{
	display: inline;
	color: #72512C;
	margin: 15px;
}
/*Конец описания элементов*/

/*Конец плашки справа*/
